@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
.banner {
  background-image: url("images/bannerimage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50px; }
  .banner header {
    padding: 30px 0; }
    .banner header .sitename {
      font-weight: 200;
      font-size: 28px; }
    .banner header nav {
      float: right; }
      .banner header nav li {
        display: inline;
        padding-left: 15px;
        list-style: none; }
      .banner header nav a {
        font-weight: 500;
        font-size: 18px; }
    .banner header a {
      text-decoration: none;
      color: white; }
  .banner .content {
    min-width: 410px;
    max-width: 410px;
    margin: 0 auto; }
    .banner .content h1, .banner .content h3 {
      text-align: center;
      color: white;
      font-weight: 200; }
    .banner .content h1 {
      font-size: 30px; }
      .banner .content h1 .enhance-weight {
        font-weight: 300; }
    .banner .content h3 {
      font-size: 22px;
      margin: 45px 0; }
    .banner .content .button-container {
      text-align: center;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin-bottom: 30px; }
      .banner .content .button-container .button {
        font-weight: 500;
        font-size: 18px; }

.info-panels {
  background-color: #cdd5cb;
  width: 100%;
  padding-bottom: 100px; }
  .info-panels .wrapper-wide {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .info-panels .wrapper-wide .info-panel {
      display: inline-block;
      background-color: white;
      padding: 0 10px 30px 10px;
      border-radius: 10px;
      width: 30%;
      max-width: 450px;
      font-weight: 200;
      text-align: center;
      margin-top: -30px;
      box-shadow: 0px 0px 30px 0px rgba(61, 48, 25, 0.6); }
      .info-panels .wrapper-wide .info-panel h1 {
        font-size: 30px;
        font-weight: 200;
        color: #4b3d1a; }
      .info-panels .wrapper-wide .info-panel p {
        font-size: 20px;
        color: #6b6149; }

.useless-brown-section {
  background-color: #3d2b13;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px; }
  .useless-brown-section h1 {
    font-weight: 200;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 20px;
    color: white; }
  .useless-brown-section p {
    font-weight: 200;
    font-size: 20px;
    color: #d3d2d1; }

.call-to-action {
  background-color: #cdd5cb;
  padding-top: 40px;
  padding-bottom: 60px; }
  .call-to-action .wrapper-narrow {
    text-align: center; }
    .call-to-action .wrapper-narrow h1 {
      font-size: 30px;
      margin-top: 0;
      margin-bottom: 60px;
      font-weight: 200;
      color: #4b3d1a; }
      .call-to-action .wrapper-narrow h1 em {
        font-weight: 500; }
    .call-to-action .wrapper-narrow p {
      padding-top: 60px;
      color: #629885;
      font-weight: 200;
      font-size: 18px; }

.login-and-registration-form .wrapper-narrow {
  max-width: 500px;
  min-width: 200px; }

.input-form {
  margin: 50px auto;
  max-width: 500px;
  min-width: 200px;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 0px 30px 0px rgba(61, 48, 25, 0.6); }
  .input-form h1 {
    font-size: 30px;
    font-weight: 200;
    color: #4b3d1a; }
  .input-form input {
    display: block;
    padding: 15px 12px;
    width: 60%;
    min-width: 100px;
    border-radius: 12px;
    border: solid 1px rgba(61, 48, 25, 0.55);
    box-shadow: 0px 0px 25px 0px rgba(61, 48, 25, 0.55);
    margin: 0 auto 30px auto;
    outline: none;
    color: #4b3d1a; }
  .input-form .button {
    margin-bottom: 20px;
    font-family: 'Noto Sans Japanese';
    font-weight: 500;
    font-size: 15px;
    padding-bottom: 8px;
    outline: none; }
  .input-form .errors {
    list-style-type: none;
    margin: 0;
    margin-bottom: 15px;
    padding: 0; }
    .input-form .errors li {
      color: #cf2020; }

.green-header {
  padding: 30px 0;
  background-color: #588957; }
  .green-header .sitename {
    font-weight: 200;
    font-size: 28px; }
  .green-header nav {
    float: right; }
    .green-header nav li {
      display: inline;
      padding-left: 15px;
      list-style: none; }
    .green-header nav a {
      font-weight: 500;
      font-size: 18px; }
  .green-header a {
    text-decoration: none;
    color: white; }

html {
  height: 100%; }

body {
  font-family: 'Noto Sans Japanese', sans-serif;
  margin: 0;
  height: 100%;
  background-color: #cdd5cb; }

.button {
  padding: 7px 50px 12px 50px;
  border-radius: 30px;
  text-decoration: none;
  color: white;
  box-shadow: 0px 0px 25px 0px rgba(61, 48, 25, 0.55);
  border: none; }

.button-small {
  padding: 5px 15px 8px 15px;
  border-radius: 40px;
  text-decoration: none;
  color: white;
  box-shadow: 0px 0px 25px 0px rgba(61, 48, 25, 0.55);
  border: none; }

.button-large {
  padding: 12px 75px 17px 75px;
  border-radius: 30px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 22px;
  box-shadow: 0px 0px 25px 0px rgba(61, 48, 25, 0.55);
  border: none; }

button.button, button.button-small, button.button-large {
  outline: none;
  font-family: "Noto Sans Japanese", sans-serif; }

.primary {
  background-color: #588957; }
  .primary:hover {
    background-color: #4e7f4d; }

.panel {
  background-color: white;
  padding: 30px 10px 30px 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 30px 0px rgba(61, 48, 25, 0.6); }

.secondary {
  background-color: rgba(255, 255, 255, 0.25); }
  .secondary:hover {
    background-color: rgba(255, 255, 255, 0.2); }

.wrapper-wide {
  max-width: 1536px;
  width: 80%;
  margin: 0 auto; }

.wrapper {
  max-width: 1056px;
  width: 55%;
  margin: 0 auto; }

.wrapper-narrow {
  width: 30%;
  max-width: 576px;
  margin: 0 auto; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.footer {
  margin: 20px 0 20px 0;
  text-align: center;
  font-size: 18px;
  color: #629885; }

#profile {
  padding: 30px;
  max-width: 800px;
  min-width: 620px;
  margin: 50px auto 50px auto; }
  #profile h1, #profile h3, #profile h5 {
    color: #4b3d1a;
    margin: 0; }
  #profile h1 {
    line-height: 30px;
    font-size: 40px;
    font-weight: 200; }
  #profile h3 {
    display: inline-block;
    margin-left: 20px;
    font-size: 25px;
    font-weight: 200;
    color: #6b6149; }
  #profile h5 {
    display: inline-block;
    font-size: 15px;
    font-weight: 100;
    color: #6b6149; }
  #profile .account-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 30px; }
    #profile .account-content .account-settings {
      display: inline-block;
      -ms-flex: 1;
      flex: 1;
      margin-right: 20px; }
      #profile .account-content .account-settings h3 {
        color: #4b3d1a;
        margin: 0; }
      #profile .account-content .account-settings ul {
        list-style-type: none;
        padding: 0; }
        #profile .account-content .account-settings ul li {
          color: #6b6149; }
    #profile .account-content .order-history {
      display: inline-block;
      -ms-flex: 2;
      flex: 2;
      color: #6b6149; }
      #profile .account-content .order-history h3 {
        display: block;
        color: #4b3d1a;
        margin: 0; }

.outline {
  border: solid 1px #91876e;
  border-radius: 10px;
  padding: 10px; }

/* that colour format consistency */
#catalog {
  text-align: center;
  /* catalog-child ends */ }
  #catalog .catalog-child {
    display: inline-block;
    /* category ends */ }
    #catalog .catalog-child .category {
      /* clearfix ends */ }
      #catalog .catalog-child .category h1 {
        margin: 1em 0 1em 7.5em;
        color: #4b3d1a;
        font-weight: 200;
        text-align: left; }
      #catalog .catalog-child .category .clearfix {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        /* products ends */ }
        #catalog .catalog-child .category .clearfix .arrows-left, #catalog .catalog-child .category .clearfix .arrows-right {
          -ms-flex: 1;
          flex: 1; }
        #catalog .catalog-child .category .clearfix .products {
          -ms-flex: 10;
          flex: 10;
          -ms-flex-pack: center;
          justify-content: center;
          /* product ends */ }
          #catalog .catalog-child .category .clearfix .products .product {
            display: inline-block;
            background-color: #FFFFFF;
            box-shadow: 0px 0px 30px 0px rgba(61, 48, 25, 0.6);
            border-radius: 10px;
            width: 200px;
            height: 200px;
            position: relative;
            margin: 15px 15px 15px 15px;
            /* product info ends */ }
            #catalog .catalog-child .category .clearfix .products .product a {
              text-decoration: none; }
            #catalog .catalog-child .category .clearfix .products .product .product-info {
              background-color: rgba(61, 43, 19, 0.9);
              border-radius: 0 0 10px 10px;
              text-align: center;
              padding: 5px 0 5px 0;
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              line-height: 1.5em; }
              #catalog .catalog-child .category .clearfix .products .product .product-info .product-name {
                margin: 0;
                color: white; }
              #catalog .catalog-child .category .clearfix .products .product .product-info .product-price {
                margin: 0;
                color: #a39980; }

/* CATALOG ends */

#product-panel {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 2em 0;
  /* product-name ends */
  /* product-information ends */ }
  #product-panel .product-name h1 {
    margin: 0;
    margin-left: 1em;
    margin-bottom: 1em;
    color: #4b3d1a;
    font-weight: 200; }
  #product-panel .product-information {
    display: -ms-flexbox;
    display: flex;
    /* product-images ends */
    /* product-description ends */ }
    #product-panel .product-information .product-images {
      -ms-flex-item-align: center;
      align-self: center; }
    #product-panel .product-information .product-description p {
      margin: 0 2em 0 2em;
      color: #6b6149;
      font-weight: 200; }
    #product-panel .product-information .product-price {
      margin-left: auto;
      /* justifies item to the right */
      margin-right: 1em;
      font-size: 30px;
      color: #4b3d1a; }
  #product-panel .product-functions {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 500; }
    #product-panel .product-functions .button {
      padding-left: 25px;
      padding-right: 25px;
      font-size: 18px;
      margin-right: 1.5em; }
    #product-panel .product-functions input[type="number"] {
      outline: none;
      border-radius: 25px;
      border: solid 1px #6b6149;
      box-shadow: 0px 0px 25px 0px rgba(61, 48, 25, 0.55);
      font-size: 14px;
      color: #4b3d1a;
      font-weight: 200;
      text-align: center;
      padding: 12px;
      margin-right: 2em; }
  #product-panel .message {
    text-align: center;
    color: #4b3d1a; }
    #product-panel .message p {
      margin: 0.5em 0 0 0; }

/* PRODUCT-PANEL ends */
#detailed_desc h1 {
  margin: 0 0 1em 1em;
  color: #4b3d1a;
  font-weight: 200; }

#detailed_desc .custom-html {
  margin: 0 2em; }

/* DETAILED_DESC ends */
#reviews {
  margin: 2em 0;
  /* review ends */ }
  #reviews h1 {
    margin: 0 0 1em 1em;
    color: #4b3d1a;
    font-weight: 200; }
  #reviews .review {
    border: solid 1px #6b6149;
    border-radius: 10px;
    margin: 1em 3em 1em 3em; }
    #reviews .review h2 {
      display: inline-block;
      color: #4b3d1a;
      font-weight: 200;
      margin: 0.5em 0 0 0.5em; }
    #reviews .review h3 {
      margin: 0;
      display: inline;
      color: #4b3d1a;
      font-weight: 200; }
      #reviews .review h3 .green {
        color: #588957; }
    #reviews .review p {
      margin: 0 1.5em 0.5em 1.5em;
      color: #6b6149;
      font-weight: 200; }
    #reviews .review .need-login {
      display: inline-block;
      margin: 0.5em 1.5em; }
      #reviews .review .need-login a {
        color: #588957; }
    #reviews .review .date {
      text-align: right;
      font-weight: 100; }
    #reviews .review form select {
      border-radius: 5px;
      font-family: 'Noto Sans Japanese', sans-serif;
      font-size: 16px;
      color: #588957; }
    #reviews .review form textarea {
      display: block;
      outline: none;
      font-family: 'Noto Sans Japanese', sans-serif;
      font-size: 15px;
      font-weight: 200;
      color: #6b6149;
      width: 90%;
      max-width: 90%;
      margin-top: 0.5em;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0.5em;
      border: none; }
    #reviews .review form .button-container {
      text-align: right; }
      #reviews .review form .button-container button {
        margin: 1em 1.5em;
        font-size: 12px;
        font-weight: 500; }

/* REVIEWS ends */

#cart {
  margin-top: 2em;
  /* panel ends */ }
  #cart h1 {
    margin: 0 0 1em 1em;
    color: #4b3d1a;
    font-weight: 200; }
  #cart .panel .empty {
    width: 100%;
    text-align: center; }
  #cart .panel .table-container {
    margin: 0 2em 0 2em; }
    #cart .panel .table-container table {
      width: 100%; }
      #cart .panel .table-container table td {
        color: #4b3d1a; }
        #cart .panel .table-container table td h2 {
          margin: 0;
          font-weight: 200;
          padding-bottom: 0.25em; }
      #cart .panel .table-container table .name {
        padding-left: 0.5em; }
      #cart .panel .table-container table .name, #cart .panel .table-container table .quantity, #cart .panel .table-container table .price, #cart .panel .table-container table .total {
        color: #6b6149;
        font-weight: 200; }
        #cart .panel .table-container table .name div, #cart .panel .table-container table .quantity div, #cart .panel .table-container table .price div, #cart .panel .table-container table .total div {
          display: inline; }
      #cart .panel .table-container table .quantity, #cart .panel .table-container table .price, #cart .panel .table-container table .total {
        text-align: right; }
  #cart .panel .cart-functions {
    margin: 2em 2em 0 0;
    text-align: right; }
  #cart .fa:hover {
    color: #588957;
    cursor: pointer; }

/* CART ends */

/*# sourceMappingURL=app.css.map */
