$primary-green: rgb(88, 137, 87);
$background-green: #cdd5cb; //that colour format consistency
$background-brown: #3d2b13;
$primary-brown: #4b3d1a;
$secondary-brown: #6b6149;
$button-shadow: 0px 0px 25px 0px rgba(61, 48, 25, 0.55);
$panel-shadow: 0px 0px 30px 0px rgba(61, 48, 25, 0.6);


#profile{
  padding: 30px;
  max-width: 800px;
  min-width: 620px;
  margin: 50px auto 50px auto;
  a {
    color: $primary-green;
  }
  h1, h3, h5{
    color: $primary-brown;
    margin: 0;
  }

  h1{
    line-height: 30px;
    font-size: 40px;
    font-weight: 200;
  }

  h3{
    display: inline-block;
    margin-left: 20px;
    font-size: 25px;
    font-weight: 200;
    color: $secondary-brown;
  }

  h5{
    display: inline-block;
    font-size: 15px;
    font-weight: 100;
    color: $secondary-brown;
  }

  .account-content{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    .account-settings{
      display: inline-block;
      flex: 1;
      margin-right: 20px;
      h3{
        color: $primary-brown;
        margin: 0;
      }

      ul{
        list-style-type: none;
        padding: 0;
        li{
          color: $secondary-brown;
        }
      }
    }

    .order-history{
      display: inline-block;
      flex: 2;
      color: $secondary-brown;
      h3{
        display: block;
        color: $primary-brown;
        margin: 0;
      }
      table {
        width: 100%;
        td {
          vertical-align: text-top;
        }
        tr {
          text-align: right;
        }
      }
    }
  }
}

.outline{
  border: solid 1px #91876e;
  border-radius: 10px;
  padding: 10px;
}



#update-user-form {
  h1 {
    color: $primary-brown;
    margin-left: 1em;
    font-weight: 200;
  }
  form {
    text-align: center;
    margin-bottom: 1em;
  }
  input {
    display: block;
    padding: 15px 12px;
    width: 60%;
    min-width: 100px;
    border-radius: 12px;
    border: solid 1px rgba(61, 48, 25, 0.55);
    box-shadow: $button-shadow;
    margin: 0 auto 30px auto;
    outline: none;
    color: $primary-brown;
  }
  .button{
    font-family: 'Noto Sans Japanese';
    font-weight: 500;
    font-size: 15px;
    padding-bottom: 8px;
    outline: none;
  }
  p {
    text-align: center;
    color: $secondary-brown;
  }
  .error-msg {
    color: red;
  }

  .success-msg {
    color: $primary-green;
  }
} /* UPDATE-USER-FORM ends */
